h1 {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 120px;
}
h1 a {
  font-weight: normal;
  font-size: 24px;
  width: 200px;
  border-radius: 9px;
  font-size: 15px;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  margin: 30px;
  display: inline-block;
}
h1 .fr {
  position: absolute;
  right: 30px;
  top: 0;
}
h2 {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  line-height: 90px;
}
.back {
  position: absolute;
  left: 30px;
  top: 0px;
  font-weight: normal;
  font-size: 24px;
  width: 200px;
  border-radius: 9px;
  font-size: 15px;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  margin: 30px;
  display: inline-block;
}
.tablebox {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: auto;
  overflow: auto;
}
.tablebox table {
  min-width: 900px;
  width: 100%;
}
.logo {
  display: block;
  margin: auto;
}
.maintit {
  font-size: 24px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
  margin: 30px auto;
  padding: 30px 40px;
}
.Recommended {
  max-width: 1200px;
  width: 100%;
  overflow: auto;
  display: block;
  margin: auto;
}
.Recommended table {
  width: 100%;
  min-width: 900px;
}
.line.centerline {
  padding-bottom: 30px;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.line.centerline span {
  width: 200px;
  text-align: right;
  color: #333;
  font-size: 18px;
  line-height: 40px;
  display: inline-block;
}
.line.centerline select {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.line.centerline input {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
  padding-left: 20px;
  margin-left: 20px;
}
.content {
  max-width: 900px;
  width: 100%;
  display: block;
  margin: auto;
}
.content .line {
  padding-bottom: 30px;
}
.content .line span {
  width: 200px;
  text-align: right;
  color: #333;
  font-size: 18px;
  line-height: 40px;
  display: inline-block;
}
.content .line select {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.content .line input {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 40px;
  padding-left: 20px;
  margin-left: 20px;
}
.content .tip {
  font-size: 12px;
  color: #333;
  text-align: center;
  line-height: 40px;
}
.defaultbtn {
  width: 200px;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-image: -moz-linear-gradient(90deg, #e5d9eb 0%, #69676d 100%);
  background-image: -webkit-linear-gradient(90deg, #e5d9eb 0%, #69676d 100%);
  background-image: -ms-linear-gradient(90deg, #e5d9eb 0%, #69676d 100%);
  background-image: linear-gradient(90deg, #e5d9eb 0%, #69676d 100%);
  display: block;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 20px auto;
}
table {
  border: 1px solid #333;
  width: 100%;
  background-color: #f4f4f4;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #333;
}
table thead {
  background-color: #ccc;
  font-weight: bold;
}
table tbody {
  background-color: #f4f4f4;
  color: #999;
}
table tbody a {
  font-size: 12px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  background-color: #fff;
}
.inputline {
  text-align: center;
  padding: 20px;
}
.inputline input {
  line-height: 40px;
  border: 1px solid #ccc;
  width: 200px;
}
.tipsbox {
  border: 1px solid #ccc;
  max-width: 600px;
  width: 100%;
  padding: 30px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 2px #ccc;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
}
#airport {
  max-width: 900px;
  display: block;
  margin: auto;
  width: 100%;
}
#airport h1 {
  text-align: center;
}
#airport .line {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
#airport .line span {
  width: 40%;
  text-align: right;
  color: #999;
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
}
#airport .line .txt {
  width: 60%;
  padding-left: 30px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}
#map {
  display: block;
  margin: 30px auto;
}
.centerbtn {
  width: 600px;
  margin: auto;
}
.centerbtn a {
  font-size: 18px;
  border: 1px solid #ccc;
  margin: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;
}
